
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FF7F50;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-container{
  background-color: rgb(96, 128, 97);
} 



/* .input-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px 5px;
} */

.button-cratetask{
  background-color: rgb(88, 24, 27);
  color: aliceblue;
  border-radius: 5px;
  border-style: none;
  margin-left: 5px;
  font-weight: 400;
    font-size: smaller;
    padding: 4px 7px;
}

.ul-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ul-list >li:first-child{
  margin-top: 25px;
}
ul > li {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
}